<a href="https://colab.research.google.com/github/Blackman9t/Python_-_Statistics_for_Financial_Analysis/blob/master/1_wk_1_Import%2Bdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import data
In this Jupyter Notebook, you will learn how to import data from CSV into Jupyter Notebook

In [0]:
#import the package "Pandas" into Jupyter Notebook
import pandas as pd

Let's mount gdrive

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
#We import the stock data of Facebook into Jupyter Notebook. The CSV file is located in the folder called "Data" in your Workspace
#We then name the DataFrame name as 'fb'
fb = pd.DataFrame.from_csv('/content/gdrive/My Drive/Colab_Notebooks/python_and_statistics_for_financial_analysis/data/facebook.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [0]:
fb.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

## About The Data

**Index**: The index is the date for each observation.<br>
**Open**: Is the opening price for this day.<br>
**High**:  Is the highest price for this day<br>
**Low**:  Is the lowest price for this day<br>
**Close**:  Is the closing price for this day<br>
**Adjust Close**:  Is a stock closing price on a given day of trading that has been adjusted  to include:<br>
Any dispution and the corporate actions that occurred at any time before the next day's open.<br>
**Volume**:  Is the amount of trade that occurred in a given date.<br>

### Instruction
Now is your turn to import the stock price of Microsoft (microsoft.csv), of which the CSV is located in the same folder, and rename the Dataframe in "ms".

In [0]:
ms = pd.DataFrame.from_csv('/content/gdrive/My Drive/Colab_Notebooks/python_and_statistics_for_financial_analysis/data/microsoft.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [0]:
ms.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

In [0]:
# run this cell to ensure Microsoft's stock data is imported
print(ms.iloc[0, 0])

46.73

** Expected output: ** 46.73

In [0]:
print(len(ms))
print(len(fb))

780
780

Saving a file from colab back to a folder in gdrive. We must specify where we want the file saved.

In [0]:
fb.to_csv('/content/gdrive/My Drive/Colab_Notebooks/python_and_statistics_for_financial_analysis/data/fb_saved_data')

killing this notebook to free up space in colab after exploring the notebook

In [0]:
import os, signal
os.kill(os.getpid(), signal.SIGKILL)