<a href="https://colab.research.google.com/github/Blackman9t/Python_-_Statistics_for_Financial_Analysis/blob/master/wk3_3_Confidence%2BInterval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Confidence Interval

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [4]:
ms = pd.DataFrame.from_csv('https://raw.githubusercontent.com/Blackman9t/Python_-_Statistics_for_Financial_Analysis/master/microsoft.csv')
ms.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

## Estimate the average stock return with 90% Confidence Interval

In [0]:
# we will use log return for average stock return of Microsoft

ms['logReturn'] = np.log(ms['Close'].shift(-1)) - np.log(ms['Close'])

In [7]:
ms.tail()

                 Open       High        Low  ...  Adj Close    Volume  logReturn
Date                                         ...
2018-01-30  93.300003  93.660004  92.099998  ...  92.306389  38635100   0.024182
2018-01-31  93.750000  95.400002  93.510002  ...  94.565781  48756300  -0.007925
2018-02-01  94.790001  96.070000  93.580002  ...  93.819290  47227900  -0.026663
2018-02-02  93.639999  93.970001  91.500000  ...  91.350883  47867800  -0.042058
2018-02-05  90.559998  93.239998  88.000000  ...  87.588554  51031500        NaN

[5 rows x 7 columns]

In [0]:
# Lets build 90% confidence interval for log return
sample_size = ms['logReturn'].shape[0]
sample_mean = ms['logReturn'].mean()
sample_std = ms['logReturn'].std(ddof=1) / sample_size**0.5

# left and right quantile
z_left = norm.ppf(0.0)
z_right = norm.ppf(0.9)

# upper and lower bound
interval_left = sample_mean + z_left * sample_std
interval_right = sample_mean + z_right * sample_std

In [26]:
# 90% confidence interval tells you that there will be 90% chance that the average stock return lies between "interval_left"
# and "interval_right".

print('Sample Mean is ', (sample_mean))
print('90% confidence interval is ', (interval_left, interval_right))

Sample Mean is  0.0008202314861230223
90% confidence interval is  (-inf, 0.0014714537602882566)

** Expected output: ** 90% confidence interval is  (-1.5603253899378836e-05, 0.001656066226145423)